<md-sidenav style="width:260px" flex-vertical class="md-sidenav-left" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" md-whiteframe="4">

    <div style="height:150px;width:100%;" class="custom-theme-{{ase.ThemeService.getTheme()}}">
        <div layout="column">
            <div layout="row" flex="60" layout-align="center center" style="padding:5px;padding-top:10px">
                <img src="app/assets/images/ASE-Logo.jpg" class="md-avatar" alt="app" style="height:60px;width:60px" />
            </div>
            <div layout="row" flex="20" layout-align="center center" style="font-size:17px;font-weight:400">
                {{::ase.hostingEnvironment.resourceName}}
            </div>
            <div layout="row" flex="20" layout-align="center center">
                <md-button style="color:#e2e2e2;text-decoration:underline;font-size:11px" ng-click="ase.showAseProfile($event)">View Details</md-button>
            </div>
        </div>
    </div>

    <md-content>

        <md-divider></md-divider>
        <md-list>

            <md-list-item class="md-2-line" ng-class="{'selected' : ase.selectedItem === 'aseAvailabilityAnalysis'}" ng-click="ase.setSelectedItem('aseAvailabilityAnalysis')">
                <div class="md-list-item-text" layout="column">
                    <h3>Availability Analysis</h3>
                </div>
            </md-list-item>
            <md-list-item class="md-2-line" ng-class="{'selected' : ase.selectedItem === 'aseDeploymentAnalysis'}" ng-click="ase.setSelectedItem('aseDeploymentAnalysis')">
                <div class="md-list-item-text" layout="column">
                    <h3>Deployment Analysis</h3>
                </div>
            </md-list-item>
            <md-divider></md-divider>
            <md-subheader class="md-sticky">All Detectors</md-subheader>
            <md-divider></md-divider>

            <div layout-padding>

                <md-autocomplete md-search-text="ase.searchText" md-items="item in ::ase.detectors | filter:ase.searchText" md-item-text="item.DisplayName"
                                 md-min-length="1" placeholder="Search Detectors">

                    <md-item-template>
                        <span md-highlight-text="ase.searchText" md-highlight-flags="^i">{{::item.DisplayName}}</span>
                    </md-item-template>

                    <md-not-found>
                        No detectors matching "{{ase.searchText}}" were found.
                    </md-not-found>

                </md-autocomplete>
            </div>

            <md-list-item layout="column" layout-align="center center" ng-if="!ase.detectorListLoaded">
                <md-progress-circular md-mode="indeterminate" md-diameter="30"></md-progress-circular>
            </md-list-item>

            <md-list-item class="md-2-line" ng-repeat="detector in ase.detectors | filter:ase.searchText | orderBy:['-Correlated','Rank']"
                          ng-class="{'selected' : ase.selectedItem === detector.Name}" ng-click="ase.setSelectedItem(detector.Name)">

                <!--<ng-letter-avatar data="{{::detector.DisplayName}}" class="md-avatar-icon" shape="round" fontFamily="Roboto,sans-serif"></ng-letter-avatar>-->

                <div class="md-list-item-text" style="margin-left:0px;">
                    <h3>

                        <div ng-style="{'background-color':(detector.Correlated|correlatedcolor)}"
                             style="border-radius: 50%; behavior: url(PIE.htc); width: 15px; height: 15px; margin-right:8px; float: left;"></div>
                        {{ :: detector.DisplayName }}
                    </h3>
                </div>

            </md-list-item>
        </md-list>
    </md-content>

</md-sidenav>

<div layout="column" flex>
    <md-toolbar class="md-hue-2" md-theme="{{ase.ThemeService.getTheme()}}">
        <div class="md-toolbar-tools">
            <md-button hide-gt-sm class="md-icon-button" ng-click="ase.toggleSideNav()" aria-label="Toggle side menu.">
                <md-icon md-svg-icon="menu"></md-icon>
            </md-button>
            <h1 class="md-display-3">
                ASE Lens
            </h1>
            <span flex></span>

            <md-menu md-offset="0 -7">
                <md-button aria-label="Feedback menu" class="md-icon-button" ng-click="$mdOpenMenu($event)">
                    <ng-md-icon icon="feedback" style="fill:rgba(255,255,255,0.87)" size="30"></ng-md-icon>
                </md-button>
                <md-menu-content>

                    <md-menu-item>
                        <md-button aria-label="Feedback" ng-click="ase.showCaseFeedbackForm()">
                            <ng-md-icon icon="receipt" class="custom-theme-{{ase.ThemeService.getTheme()}}"></ng-md-icon>
                            Support Case Feedback
                        </md-button>
                    </md-menu-item>

                    <md-menu-item>
                        <md-button aria-label="Feedback" href="https://github.com/ShekharGupta1988/AppLensV2/issues/new" target="_blank">
                            <ng-md-icon icon="github-circle" class="custom-theme-{{ase.ThemeService.getTheme()}}"></ng-md-icon>
                            Open New Issue
                        </md-button>
                    </md-menu-item>

                    <md-menu-item>
                        <md-button aria-label="Feedback" ng-click="ase.sendFeedback()">
                            <ng-md-icon icon="mail" class="custom-theme-{{ase.ThemeService.getTheme()}}"></ng-md-icon>
                            Send General Feedback(Email)
                        </md-button>
                    </md-menu-item>

                </md-menu-content>
            </md-menu>
        </div>
    </md-toolbar>

    <md-content layout="column" flex id="wrapper">
        <div flex="25" layout="row" class="md-sticky">
            <md-card flex="95">
                <top-level-signal></top-level-signal>
            </md-card>
        </div>
        <div flex layout="row">

            <div flex ui-view="childContent"></div>

        </div>

    </md-content>
</div>

<script type="text/ng-template" id="aseprofile.html">
    <md-content style="border-radius:5px" md-theme="{{aseprofilectrl.ThemeService.getTheme()}}">

        <md-list flex>
            <md-list-item class="md-3-line">

                <img src="app/assets/images/ASE-Logo.jpg" class="md-avatar" alt="type of resource" style="border-radius:0">
                <div class="md-list-item-text">
                    <h3 style="font-weight:600;font-variant:small-caps;font-size:20px">{{::aseprofilectrl.hostingEnv.resourceName}}</h3>
                    <p><a href="https://wawsobserver.azurewebsites.net/MiniEnvironments/{{aseprofilectrl.hostingEnv.resourceName}}" target="_blank" style="font-size:13px;" class="custom-theme-{{main.ThemeService.getTheme()}}">Observer Link</a></p>
                </div>

            </md-list-item>
            <md-divider></md-divider>

            <md-list-item ng-repeat="item in aseprofilectrl.properties">
                <div class="md-list-item-text" layout="column">
                    <p style="margin-bottom:0;" class="custom-theme-{{aseprofilectrl.ThemeService.getTheme()}}">{{::item.Name}}</p>
                    <h3 style="font-weight:400;margin-top:5px;font-size:17px">{{ ::item.Value }}</h3>
                </div>
            </md-list-item>

        </md-list>
    </md-content>
</script>

<script type="text/ng-template" id="supportcasefeedback.html">

    <md-dialog md-theme="{{casefeedbackctrl.ThemeService.getTheme()}}">

        <md-dialog-content>

            <div flex layout="column" layout-padding>
                <br />
                <md-input-container class="md-block" style="margin-right:30px;margin-bottom:0">
                    <label>Support Case Number</label>
                    <input type="text" required md-asterisk ng-model="casefeedbackctrl.caseNumber" autofocus>

                </md-input-container>

                <md-radio-group ng-model="casefeedbackctrl.feedbackOption" style="font-size:16px;">

                    <md-radio-button value="0" class="md-primary">Solved the case completely.</md-radio-button>
                    <md-radio-button value="1">Pointed to right direction, but it didn't help completely.</md-radio-button>
                    <md-radio-button value="2">Didn't help at all.</md-radio-button>

                </md-radio-group>

                <md-input-container class="md-icon-float md-block">
                    <label>Additional Notes</label>
                    <textarea ng-model="casefeedbackctrl.additionalNotes" md-maxlength="200" rows="5" md-select-on-focus style="font-size:16px;"></textarea>
                </md-input-container>

                <md-button class="md-primary" ng-click="casefeedbackctrl.submitFeedback()">Submit Feedback</md-button>
            </div>

        </md-dialog-content>
    </md-dialog>

</script>

