html, body {
  font-family: 'Roboto', sans-serif;
  font-size:14px;
  height:100%;
  margin: 0px;
  padding: 0px;
}
md-toolbar h1 {
  font-size: 1.250em;
  font-weight: 400;
  margin: auto
}

md-toolbar .md-toolbar-tools h1 {
  font-size: 1.250em;
  font-weight: 400;  
}

.time-period-nav {
    background-color:#808080;
    height: 40px;
}

.time-period-nav-direction:hover {
    background-color:#9a9a9a;
    cursor:pointer;
}

.time-period-nav h1 {
    color:white;
    font-size: 1.100em;
    font-weight: 400;
}

md-list .md-button {
  color: inherit;
  font-weight: 500;
  text-align: center;
  width: 100%;
}
  md-list .selected {
    background-color:rgb(225, 225, 225);
  }

  md-sidenav  md-list {
    padding: 0px 0px 8px 0px;
  }

#content  {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 5px;
}

#content md-icon.avatar {
  margin-top: 10px;
}

.avatar {
  position: relative;
  width: 128px;
  height: 128px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: inline-block;
  overflow: hidden;
  margin: 0px;
  vertical-align: middle;
  zoom:0.70;
  transform: translateZ(0);
  -webkit-transform: scale(0.70);
  -moz-transform:scale(0.70);
}


.scrollable-nav-content {
  position: absolute;
  top: 136px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  overflow: auto;
}

md-bottom-sheet  md-icon {
  margin-right:20px;
}

span.name {
  font-weight: bold;
  font-size:1.1em;
  padding-left:5px;
}

.date-row {
 margin: 16px 0px;
}

@keyframes colors {
	0% { stroke: #4285F4; }
	25% { stroke: #DE3E35; }
	50% { stroke: #F7C223; }
	75% { stroke: #1B9A59; }
  100% { stroke: #4285F4; }
}

md-progress-circular path{
  animation: colors 5.6s ease-in-out infinite;
}

md-content::-webkit-scrollbar {
    width: 0.4em;
}
md-content::-webkit-scrollbar-track {
    -webkit-box-shadow: none
}
md-content::-webkit-scrollbar-thumb {
  background-color: lightgrey;
}
md-tabs-content-wrapper{
    margin-top:30px;
}

md-badge{
  margin: 0 0 0 4px;
  background-color: #259b24;
  color: white;
  padding: 2px 4px;
  border-radius: 50%;
}
.md-warn{
  background-color: #F44336;
}

/*Mardown CSS*/
.markdown{
    font-family:Roboto;
    margin-left:30px;
    margin-right:30px;
}

.markdown h1, .markdown h2, .markdown h3, .markdown h4, .markdown h5, .markdown h6{
    margin-top:0;
    margin-bottom: 16px;
    padding-bottom: 0.3em;
    font-weight: 500;
    line-height: 1.25;
    border-bottom: 1px solid #eee;
}
.markdown h1{
    font-size: 2em;
}
.markdown h2{
    font-size: 1.4em;
}
.markdown>*:last-child {
    margin-bottom: 0 !important;
}
.markdown ul, .markdown ol {
    padding-left: 2em;
}
.markdown p, .markdown blockquote, .markdown ul, .markdown ol, .markdown dl, .markdown table, .markdown pre {
    margin-top: 0;
    margin-bottom: 16px;
}
.markdown li{
    font-size:1.15em;
    font-weight:400;
    color:#5a5a5a;
}
    .markdown li + li {
        margin-top: 0.4em;
    }

.sia-markdown{
    font-family:Roboto;
    margin-left:10px;
    margin-right:10px;
}

.sia-markdown h1, .sia-markdown h2, .sia-markdown h3, .sia-markdown h4, .sia-markdown h5, .sia-markdown h6{
    margin-top:0;
    margin-bottom: 10px;
    padding-bottom: 0.3em;
    font-weight: 500;
    line-height: 1.25;
    border-bottom: 1px solid #eee;
}
.sia-markdown h1{
    font-size: 1.3em;
}
.sia-markdown h2{
    font-size: 0.9em;
}
.sia-markdown>*:last-child {
    margin-bottom: 0 !important;
}
.sia-markdown ul, .sia-markdown ol {
    padding-left: 2em;
}
.sia-markdown p, .sia-markdown blockquote, .sia-markdown ul, .sia-markdown ol,
 .sia-markdown dl, .sia-markdown table, .sia-markdown pre {
    margin-top: 0;
    margin-bottom: 10px;
}
.sia-markdown li{
    font-size:17px;
    color:white;
}
    .sia-markdown li + li {
        margin-top: 5px;
    }
    .sia-markdown li a {
        color: antiquewhite;
    }

/*timeline*/
.discussion-timeline {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 2.5%;
    display: block;
    width: 1px;
    background-color: #d4d4d4;
}
.discussion-timeline-problem-icon{
    width:30px;
    height:30px;
    border-radius:50%;
    margin:0 auto;
    z-index:1;
    background-color:rgb(228, 198,80);
    color:white;
    text-align:center;
    color:white;
    font-size:17px;
    line-height:1.8;
    font-weight:300;
}
.discussion-timeline-solution-icon{
    width:30px;
    height:30px;
    border-radius:50%;
    margin:0 auto;
    z-index:1;
}
.discussion-timeline-data-icon{
    width:30px;
    height:30px;
    border-radius:50%;
    margin:0 auto;
    z-index:1;
}
.discussion-timeline-nodata-icon{
    width:30px;
    height:30px;
    border-radius:50%;
    margin:0 auto;
    z-index:1;
    background-color:#FF7043;
    color:white;
    text-align:center;
    color:white;
    font-size:17px;
    line-height:1.8;
    font-weight:300;
}
.sia-dialog{
    background-color:#00838F;
    padding:14px;
    padding-left:7px;
    color:white;
    font-size:17px;
    border-radius:10px;
    border-bottom-left-radius:0;
    max-width:65%;
}

.app-profile-dialog {
  background: white;
  border-radius: 10px;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2),
      0 13px 19px 2px rgba(0, 0, 0, 0.14),
      0 5px 24px 4px rgba(0, 0, 0, 0.12);
  width: 40%;
  min-height:100px;
}

@keyframes pulse {
    0% {background-color: #00695c;}
    50% {background-color: #00b49d;}
    100% {background-color: #00695c;}
}

.timeline-downtime {
    background-color: #e6e6e6;
}

.timeline-downtime:hover {
    background-color: #c20000;
    cursor: pointer;
}

.timeline-downtime:focus {
    background-color: #c20000;
    cursor: pointer;
    box-shadow:#696969 0px 0px;
}

.timeline-downtime-selected {
    background-color: #00695c;
    animation-name: pulse;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

.timeline-uptime {
    background-color: transparent;
}

table.md-table th.md-column{
    font-size: 15px !important;
}

div.custom-theme-default {
    background-color:teal;
    color:white;
}

p.custom-theme-default {
    color:teal;
}

ng-md-icon.custom-theme-default {
    fill:teal;
}

div.custom-theme-default2 {
    background-color:#397fcf;
    color:white;
}

p.custom-theme-default2 {
    color:#397fcf;
}

ng-md-icon.custom-theme-default2 {
    fill:#397fcf;
}

div.custom-theme-default3 {
    background-color:rgb(78,52,46);
    color:white;
}

p.custom-theme-default3 {
    color:rgb(78,52,46);
}

ng-md-icon.custom-theme-default3 {
    fill:rgb(78,52,46);
}

.caseanalysis-timeline-icon{
    width:30px;
    height:30px;
    border-radius:50%;
    margin:0 auto;
    z-index:1;
    /*background-color: white;
    border: 1px solid #e2e2e2;*/
}

.caseanalysis-message{
    margin-bottom:5px;
}
.caseanalysis-message span{
    font-weight:600;
    color:#262626;
}
.nvd3.nv-pie .nv-pie-title {
    fill: black !important;
}