
    <div layout="column" flex>
        <md-toolbar layout="column" class="md-hue-2">
            <div class="md-toolbar-tools">
                <h1 class="md-display-3">
                    App Lens
                </h1>
                <h3 class="md-subhead">(2.0)</h3>
                <span flex></span>
                <img src="app/assets/images/Azure-WebApps-Logo.png" class="md-avatar" alt="app" style="height:60px;width:60px" />
            </div>
        </md-toolbar>

        <md-content layout="row" flex id="wrapper">
            <div class="layout-fill layout-margin layout-padding ng-scope layout-row" style="min-height: 224px;" layout="row" layout-fill="" layout-padding="" layout-margin="">
                <form name="siteSearch" data-ng-submit="home.sendToMain()" layout="column">
                    <md-input-container>
                        <label>Site:</label>
                        <input ng-model="home.siteName" required>
                    </md-input-container>
                    <md-input-container>
                        <label>Start Time</label>
                        <adm-dtp ng-model='home.startTime' options="{format:'YYYY/MM/DD hh:mm',calType:'gregorian'}" >
                            <input type="text" ng-model="home.startTime" dtp-input />
                        </adm-dtp>
                    </md-input-container>
                    <md-input-container>
                        <label>End Time</label>
                        <adm-dtp ng-model='home.endTime' options="{format:'YYYY/MM/DD hh:mm',calType:'gregorian'}" >
                            <input type="text" ng-model="home.endTime" dtp-input/>
                        </adm-dtp>
                    </md-input-container>
                    <md-button class="md-primary md-raised" type="submit">Search</md-button>
                </form>
            </div>
        </md-content>
    </div>


