<md-content ng-if="ticketworkflowctrl.ticketWorflowData">

    <div style="padding:10px;color:#737373">
        <h3>Ticket Workflow Id : {{ticketworkflowctrl.ticketWorflowData.TicketWorkflowId}}</h3>
        <p style="margin-top:5px" ng-if="ticketworkflowctrl.ticketWorflowData.MsSolveCaseId">
            <ng-md-icon icon="error" style="fill:#FF6F00;font-size:13px"></ng-md-icon> Support Case got created for this workflow. Case Id : {{ticketworkflowctrl.ticketWorflowData.MsSolveCaseId}} (<a href="https://mssolveweb.partners.extranet.microsoft.com/MSSolveWeb/srdetails.html?q={{ticketworkflowctrl.ticketWorflowData.MsSolveCaseId}}&s=0" target="_blank">Open in MsSolve</a>)
        </p>
        <p style="margin-top:5px;color:teal;font-weight:500" ng-if="!ticketworkflowctrl.ticketWorflowData.MsSolveCaseId">
            <ng-md-icon icon="info" style="fill:#00C853;font-size:13px"></ng-md-icon> Support Case got deflected for this workflow.
        </p>
        <p style="margin-top:5px;color:teal">Number of Sessions for this workflow : {{ticketworkflowctrl.ticketWorflowData.Sessions.length}}</p>
    </div>


    <div ng-repeat="item in ticketworkflowctrl.sessionsData">
        <session-view uimodel="item.uiModel" sessiondata="item.sessionData"></session-view>
    </div>

</md-content>