<md-card>

    <div flex>
        <md-toolbar style="min-height:40px;background-color:#F4F4F4;color:rgb(0,150,136)">
            <h5 style="margin:auto 10px auto;font-weight:500">{{detectorviewctrl.info.displayName}}</h5>
        </md-toolbar>
        <div layout-padding>

            <div ng-if="detectorviewctrl.loading" layout="row" layout-sm="column" layout-align="space-around" style="height:25%">
                <div layout="column" layout-align="center center">
                    <md-progress-circular md-mode="indeterminate" md-diameter="40"></md-progress-circular>
                </div>
            </div>

            <md-tabs md-dynamic-height md-border-bottom ng-if="!detectorviewctrl.loading">
                <md-tab label="Metrics">
                    <nvd3 options="detectorviewctrl.chartoptions" data="detectorviewctrl.chartdata"></nvd3>

                </md-tab>
                <md-tab label="Additional Data" ng-disabled="true">

                </md-tab>
                <md-tab label="Mitigations" ng-disabled="true">

                </md-tab>
                <md-tab label="Data Source" ng-disabled="true">

                </md-tab>
                <md-tab label="Notes" ng-disabled="true">

                </md-tab>
            </md-tabs>

        </div>

    </div>
</md-card>

