<md-card>
    <div flex>
        <md-toolbar style="min-height:40px;background-color:#F4F4F4;color:rgb(0,150,136);z-index:0">
            <div class="md-toolbar-tools">
                <h5 style="margin:auto 10px auto;font-weight:500">{{::detectorviewctrl.info.DisplayName}}</h5>
                <span style="display:none" id="name">{{::detectorviewctrl.info.Name}}</span>
                <span flex></span>

                <md-button class="md-icon-button" aria-label="thumbs up" ng-click="detectorviewctrl.sendDetectorFeedback(detectorviewctrl.info.Name, 0)">
                    <ng-md-icon icon="thumb_up" ng-style="{'fill': detectorviewctrl.detectorFeedbackOption == 0 ? 'rgb(19, 183, 138)' : 'rgb(155, 155, 155)'}"></ng-md-icon>
                    <md-tooltip md-direction="top">
                        This detector helped.
                    </md-tooltip>
                </md-button>

                <md-button class="md-icon-button" aria-label="thumbs down" ng-click="detectorviewctrl.sendDetectorFeedback(detectorviewctrl.info.Name, 1)">
                    <ng-md-icon icon="thumb_down" ng-style="{'fill': detectorviewctrl.detectorFeedbackOption == 1 ? 'rgb(255, 82, 82)' : 'rgb(155, 155, 155)'}"></ng-md-icon>
                    <md-tooltip md-direction="top">
                        This detector didn't help.
                    </md-tooltip>
                </md-button>

            </div>
        </md-toolbar>
        <div layout-padding>

            <div ng-if="detectorviewctrl.loading" layout="row" layout-sm="column" layout-align="space-around" style="height:30%">

                <div layout="column" layout-align="center center">
                    <md-progress-circular md-mode="indeterminate" md-diameter="40"></md-progress-circular>
                </div>
            </div>

            <md-tabs md-dynamic-height md-border-bottom ng-if="!detectorviewctrl.loading">
                <md-tab label="Metrics">
                    <md-tab-label>
                        Metrics
                    </md-tab-label>
                    <md-tab-body>
                        <downtime-timeline singleabnormaltimeperiod="detectorviewctrl.abnormaltimeperiod" height="'10px'" ng-if="detectorviewctrl.abnormaltimeperiod !== undefined"></downtime-timeline>
                        <span ng-if="detectorviewctrl.info.Name === 'loganalyzer' || detectorviewctrl.info.Name === 'nodeloganalyzer'">* Click on the bars to view the logs. Make sure popup blocker is disabled</span>
                        <!--<div flex ng-if="detectorviewctrl.isLoading" ng-style="{'height':detectorviewctrl.chartOptions.chart.height}">
                         </div>-->
                        <nvd3 options="detectorviewctrl.chartoptions" data="detectorviewctrl.chartdata"
                                  ng-if="!detectorviewctrl.isLoading && detectorviewctrl.info.Name !== 'instanceallocations' && detectorviewctrl.info.Name !== 'rebootrolesstuck'" api="detectorviewctrl.api"></nvd3>
                        <div google-chart chart="detectorviewctrl.chartdata" ng-if="!detectorviewctrl.isLoading && detectorviewctrl.info.Name === 'rebootrolesstuck'"></div>

                        <detailed-detector-view loading="detectorviewctrl.loading" metricsets="detectorviewctrl.metricsets" selectedworker="detectorviewctrl.selectedworker" detectorsource="detectorviewctrl.detectorsource"
                                                ng-if="(detectorviewctrl.info.Name.indexOf('cpuanalysis') >= 0 || detectorviewctrl.info.Name.indexOf('memoryanalysis') >= 0 || detectorviewctrl.info.Name.indexOf('machinememoryusage') >= 0 || detectorviewctrl.info.Name.indexOf('tcpconnectionsusage') >= 0 || detectorviewctrl.info.Name.indexOf('tcpopensocketcount') >= 0) && detectorviewctrl.showDetailedView"></detailed-detector-view>
                        <md-button ng-click="detectorviewctrl.showDetailedView = !detectorviewctrl.showDetailedView" ng-if="detectorviewctrl.info.Name.indexOf('cpuanalysis') >= 0 || detectorviewctrl.info.Name.indexOf('memoryanalysis') >= 0 || detectorviewctrl.info.Name.indexOf('machinememoryusage') >= 0 || detectorviewctrl.info.Name.indexOf('tcpconnectionsusage') || detectorviewctrl.info.Name.indexOf('tcpopensocketcount') >= 0">
                            <span ng-if="!detectorviewctrl.showDetailedView">Show Per Instance Data</span>
                            <span ng-if="detectorviewctrl.showDetailedView">Hide Per Instance Data</span>
                        </md-button>

                        <table style="width: 100%; border-spacing: 1px; padding-right: 25px; border-collapse: separate;"
                               ng-if="detectorviewctrl.info.Name === 'instanceallocations'">
                            <tr ng-repeat="instance in detectorviewctrl.chartdata">
                                <td class="small" style="width: 55px;">
                                    <span style="font-size: 10px;">{{instance.key|worker}}</span>
                                </td>
                                <td ng-repeat="change in instance.values" data-toggle="tooltip"
                                    ng-style="{'background-color':(change.y === 1?'#009933':'#efefef')}"
                                    data-placement="top" title="{{instance.key}} | {{change.x | date: 'EEE MMM-dd, hh:mm a'}} (UTC)">
                                    <span style="font-size: 1px;">.</span>
                                </td>

                            </tr>
                        </table>
                        
                        <md-table-container ng-if="detectorviewctrl.info.Name === 'workerprocessrecycle'">
                            <h3 style="color: teal; text-decoration: underline">More Information</h3>
                            <table md-table ng-if="detectorviewctrl.additionaldata.length > 0">
                                <thead md-head>
                                <tr md-row>
                                    <th md-column ng-repeat="header in detectorviewctrl.additionaldata[0]"><span>{{header.Name}}</span></th>
                                </tr>
                                </thead>
                                <tbody md-body>
                                <tr md-row ng-repeat="row in detectorviewctrl.additionaldata">
                                    <td md-cell ng-repeat="col in row">{{col.Value}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </md-table-container>

                        <md-table-container ng-if="detectorviewctrl.info.Name === 'loganalyzer' || detectorviewctrl.info.Name === 'nodeloganalyzer'">
                            <h3 style="color:teal;text-decoration:underline">Top Errors</h3>
                            <table md-table ng-if="detectorviewctrl.additionaldata.length > 0">
                                <thead md-head>
                                    <tr md-row>
                                        <th md-column><span>Count</span></th>
                                        <th md-column><span>Error</span></th>
                                    </tr>
                                </thead>
                                <tbody md-body>
                                <tr md-row ng-repeat="row in detectorviewctrl.additionaldata[0]">
                                    <td md-cell>{{row.Value}}</td><td md-cell>
                                        <p style="white-space: pre;">{{row.Name}}</p></td>
                                </tr>
                                </tbody>
                            </table>
                        </md-table-container>

                    </md-tab-body>

                </md-tab>
                <md-tab>
                    <md-tab-label>
                        Additional Data
                    </md-tab-label>
                    <md-tab-body>
                        <md-table-container>
                            <table md-table ng-if="detectorviewctrl.additionaldata.length > 0">
                                <thead md-head>
                                    <tr md-row>
                                        <th md-column ng-repeat="header in detectorviewctrl.additionaldata[0]"><span>{{header.Name}}</span></th>
                                    </tr>
                                </thead>
                                <tbody md-body>
                                    <tr md-row ng-repeat="row in detectorviewctrl.additionaldata">
                                        <td md-cell ng-repeat="col in row">{{col.Value}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </md-table-container>
                    </md-tab-body>
                </md-tab>
                <md-tab>
                    <md-tab-label>
                        Solution <md-badge ng-show="detectorviewctrl.solution === ''" class="md-warn">!</md-badge>
                    </md-tab-label>
                     <md-tab-body>
                         <md-button class="md-raised" style="position:absolute;right:0;top:0;width:auto" href="https://github.com/PraveenTB/AppLensDocs/blob/master/Documents/{{::detectorviewctrl.info.Name}}/solution.md" target="_blank">
                             Edit on Github
                             <ng-md-icon icon="github-circle" style="fill: #303030" size="24"></ng-md-icon>
                         </md-button>
                         <div btf-markdown="::detectorviewctrl.solution" class="markdown" style="padding-top:20px">
                         </div>
                     </md-tab-body>

                </md-tab>
                <md-tab>
                    <md-tab-label>
                        Data source
                    </md-tab-label>
                    <md-tab-body>
                        <ul>
                            <li ng-repeat="instruction in ::detectorviewctrl.responsemetadata.DataSource.Instructions">
                                {{::instruction}}
                            </li>
                            <li ng-repeat="uri in ::detectorviewctrl.responsemetadata.DataSource.DataSourceUri">
                                <a href="{{::uri.Value}}" target="_blank">{{::uri.Name}}</a>
                            </li>
                        </ul>
                        
                    </md-tab-body>
                </md-tab>
                <md-tab>
                    <md-tab-label>
                        Wiki <md-badge ng-show="detectorviewctrl.wiki === ''" class="md-warn">!</md-badge>
                    </md-tab-label>
                    
                    <md-tab-body>
                        <md-button class="md-raised" style="position:absolute;right:0;top:0;width:auto" href="https://github.com/PraveenTB/AppLensDocs/blob/master/Documents/{{::detectorviewctrl.info.Name}}/wiki.md" target="_blank">
                            Edit on Github
                            <ng-md-icon icon="github-circle" style="fill: #303030" size="24"></ng-md-icon>
                        </md-button>
                        <div btf-markdown="::detectorviewctrl.wiki" class="markdown" style="padding-top:20px">
                        </div>
                    </md-tab-body>

                </md-tab>
            </md-tabs>



        </div>
    </div>
</md-card>

