<appSettings>
    <add key="geoRegionAuthCertThumbprint" value="" />
    <add key="resourceId" value="https://microsoft.onmicrosoft.com/SupportObserverResourceApp" />
    <add key="clientId" value="585ec60b-470b-4637-ab8b-53bd076d93a2" />
    <add key="clientSecret" value="" />
    <add key="authority" value="https://login.microsoftonline.com/microsoft.onmicrosoft.com" />
    <add key="TargetSupportApiTestSlot" value="false"/>
    <add key ="KustoAppId" value="" />
    <add key ="KustoAppKey" value="" />
</appSettings>